bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.ai
TripGeniusBackend.API/wwwroot/
TripGeniusBackend.API/appsettings.Development.json  
TripGeniusBackend.API/appsettings.json
TripGeniusBackend.API/Properties/launchSettings.json
.env
.env.local